<main>
  <h1 class='text-center taxt-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>

  <hr />

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>3 title</div>

  <hr />

  <div class='text-muted text-end'>
    Dodatkovii<span class='display-6'>tekst</span>
  </div>

  <hr />

  <a href='a' class='btn btn-primary'>
    Button primary
  </a>

  <hr />

  <div class='card'>
    <div class='card-body'>
      <div class=''>My text</div>
      <div class='text-dark'>My text</div>
      <div class='text-mutend'>My text</div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      <button
        class='btn btn-secondary btn-lg'
      >Dodaty</button>
      <button
        class='btn btn-outline-secondary'
      >Redaguvaty</button>
      <button
        class='btn btn-outline-success btn-sm'
      >Vydalyty</button>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

</main>