<div class='card'>
  <div class='card-body'>
     <div class='card'>
        <div class='card-body'>
        {{#with heading}}
            {{#with main}}
            <main>
                <h1 class='taxt-uppercase'>JavaScript</h1>
                <p>{{text}}</p>
                <button
                type='button'
                class='btn btn-primary'
                >Primary</button>

                {{#with button_text}}
                    <ul>{{solid}}. {{outline}}.</ul>
                    <button class='btn btn-outline-primary'>Outline
                    primary</button>
                    </div>
                </div>
                {{/with}}
              </main>
            {{/with}}
        {{/with}}
  
        <br>
        <br>
        <br>

           
           <div class='card'>
           <div class='card-body'>
           {{#with second}}
           <div>{{title}}</div>
           {{/with}}
           </div>
           </div>
        


  </div>
</div>